*.log
*.tmp
*.bak
*.old
__pycache__
.vscode/
dist/
build/
*.egg-info/
coverage.xml
.coverage*
.tox/
htmlcov/
structures_notifications_archive/
starbases_raw*.json
customs_offices_raw*.json
notifications_raw*.json
structures_raw*.json
starbases_raw*.json
.mypy_cache
_build/
alliance_auth.sqlite3
.temp/
.env
