{% load i18n %}
{% load bootstrap %}

<div role="tabpanel" class="tab-pane" id="summary">
    <div class="table-responsive">
        <table id="tab_summary" style="width: 100%" class="table table-striped table-compact">
            <thead>
                <tr>
                    <th>
                        {% translate "Owner" %}<br>
                        {% translate "Alliance" %}
                    </th>
                    <th>{% translate "Citadels" %}</th>
                    <th>{% translate "Engineering Complexes" %}</th>
                    <th>{% translate "Refineries" %}</th>
                    <th>{% translate "Other Upwell" %}</th>
                    <th>{% translate "Customs Offices" %}</th>
                    <th>{% translate "Starbases" %}</th>
                    <th>{% translate "Total" %}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>{% translate "Total" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
