{% extends 'structures/base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load static %}
{% load humanize %}

{% block details %}

    <span class="pull-right">
        {% if perms.structures.add_structure_owner %}
            <a class="btn btn-success btn-tabs" href="{% url 'structures:add_structure_owner' %}" title="{% translate 'Add new structure owner or add new sync character to an existing structure owner' %}">
                {% translate "Add Owner / Sync Character" %}
            </a>
        {% endif %}
    </span>

    <!-- Nav tabs -->
    <ul id="structure-tabs" class="nav nav-tabs" role="tablist">
        {% if perms.structures.view_corporation_structures or perms.structures.view_alliance_structures or perms.structures.view_all_structures %}
            <li role="presentation">
                <a href="#structures" aria-controls="structures" role="tab" data-toggle="tab">{% trans "All Structures" %}</a>
            </li>
            {% if show_jump_gates_tab %}
                <li role="presentation">
                    <a href="#jump-gates" aria-controls="jump-gates" role="tab" data-toggle="tab">{% trans "Jump Gates" %}</a>
                </li>
            {% endif %}
            <script id="active-tab" type="application/javascript">
                let defaultTabId = 'structures';
            </script>
        {% else%}
            <script id="active-tab" type="application/javascript">
                let defaultTabId = 'pocos';
            </script>
        {% endif %}
        <li role="presentation">
            <a href="#pocos" aria-controls="pocos" role="tab" data-toggle="tab">{% translate "Customs Offices" %}</a>
        </li>

        {% if perms.structures.view_corporation_structures or perms.structures.view_alliance_structures or perms.structures.view_all_structures %}
            <li role="presentation">
                <a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">{% trans "Summary" %}</a>
            </li>
        {% endif %}
    </ul>

    <div class="panel panel-default panel-tabs">
        <div class="panel-body">
            <div class="tab-content">
                {% if perms.structures.view_corporation_structures or perms.structures.view_alliance_structures or perms.structures.view_all_structures %}
                    {% include "structures/partials/structure_list.html" %}
                    {% if show_jump_gates_tab %}
                        {% include "structures/partials/jump_gates_list.html" %}
                    {% endif %}
                    {% include "structures/partials/structure_summary.html" %}
                {% endif %}
                {% include "structures/partials/poco_list.html" %}

                <p class="text-muted">
                    {% translate "All dates are EVE time" %}
                    • {% translate "Data can be outdated by up to 1 hour due to API caching." %}
                    • {% translate "Last updated" %} {{ last_updated|naturaltime|default:"?" }}
                </p>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    {% include 'bundles/filterdropdown-js.html' %}
    <script type="application/javascript" src="{% static 'structures/js/global.js' %}"></script>

    <script type="application/javascript">
        function draw_spinner(elem){
            let url = "";

            {% if NIGHT_MODE %}
                url = "{% static 'structures/img/bars-rotate-fade-white-36.svg' %}"
            {% else %}
                url = "{% static 'structures/img/bars-rotate-fade-black-36.svg' %}"
            {% endif %}

            elem.find('.modal-title').html('Loading...');
            elem.find('.modal-body').html('<img class="center-image" src="' + url + '">');
        }

        $(document).ready(function () {
            const COOKIE_LAST_TAB_ID = "structures_last_tab_id"
            const COOKIE_LAST_TAB_HOURS = 6

            let dataTablesPageLength = {{ data_tables_page_length }};
            let dataTablesPaging = ("{{ data_tables_paging }}" == 'True');

            /* show last selected tab or default */
            let tabId = "{{show_tab}}"
            if (tabId != "") {
                setCookie(COOKIE_LAST_TAB_ID, tabId, 1)
            }
            else {
                tabId = getCookie(COOKIE_LAST_TAB_ID)
                if (tabId == "") tabId = defaultTabId
            }
            $('a[href="#' + tabId + '"]').tab("show")

            /* remember last selected tab */
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                const selectedTabId = $(e.target).attr("href").substr(1)
                setCookie(COOKIE_LAST_TAB_ID, selectedTabId, COOKIE_LAST_TAB_HOURS)
            });

            /* structures */
            let structures_idx_start = 8;
            $('#tab_structures').DataTable({
                ajax: {
                    url: "{% url 'structures:structure_list_data' %}?tags={{ active_tags|join:',' }}",
                    dataSrc: 'data',
                    cache: false
                },
                columns: [
                    {
                        data: 'owner',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'location',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'type',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    { data: 'structure_name_and_tags' },
                    {
                        data: 'fuel_and_power',
                        render: {
                            _: 'display',
                            sort: 'fuel_expires_at'
                        }
                    },
                    { data: 'reinforcement' },
                    { data: 'state_details' },
                    { data: 'details' },

                    /* hidden */
                    { data: 'alliance_name' },
                    { data: 'corporation_name' },
                    { data: 'region_name' },
                    { data: 'solar_system_name' },
                    { data: 'category_name' },
                    { data: 'group_name' },
                    { data: 'is_reinforced_str' },
                    { data: 'state_str' },
                    { data: 'power_mode_str' },
                    { data: 'core_status_str' }
                ],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                paging: dataTablesPaging,
                pageLength: dataTablesPageLength,
                columnDefs: [
                    { "sortable": false, "targets": [7, 8] },
                    { "visible": false, "targets": [8, 9, 10, 11, 12, 13, 14, 15, 16, 17] }
                ],
                order: [[1, "asc"], [3, "asc"]],
                filterDropDown:
                {
                    columns: [
                        {
                            idx: structures_idx_start,
                            title: "{% translate 'Alliance' %}",
                            maxWidth: "11em"
                        },
                        {
                            idx: structures_idx_start + 1,
                            title: "{% translate 'Corporation' %}",
                            maxWidth: "11em"
                        },
                        {
                            idx: structures_idx_start + 2,
                            title: "{% translate 'Region' %}",
                            maxWidth: "7em"
                        },
                        {
                            idx: structures_idx_start + 3,
                            title: "{% translate 'Solar System' %}",
                            maxWidth: "14em"
                        },
                        {
                            idx: structures_idx_start + 4,
                            title: "{% translate 'Category' %}",
                            maxWidth: "10em"
                        },
                        {
                            idx: structures_idx_start + 5,
                            title: "{% translate 'Group' %}",
                            maxWidth: "7em"
                        },
                        {
                            idx: structures_idx_start + 6,
                            title: "{% translate 'Reinforced?' %}",
                            maxWidth: "13em"
                        },
                        {
                            idx: structures_idx_start + 7,
                            title: "{% translate 'State' %}",
                            maxWidth: "6em"
                        },
                        {
                            idx: structures_idx_start + 8,
                            title: "{% translate 'Power Mode' %}",
                            maxWidth: "12em"
                        },
                        {
                            idx: structures_idx_start + 9,
                            title: "{% translate 'Core?' %}",
                            maxWidth: "6em"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                },
                createdRow: function (row, data, dataIndex) {
                    if (data['is_reinforced']) {
                        $(row).addClass('danger');
                    }
                }
            });

            $('#modalUpwellDetails').on('show.bs.modal', function(event) {
                draw_spinner($(this));

                const button = $(event.relatedTarget);
                const ajax_url = button.data('ajax_url');
                $("#modalUpwellDetailsContent").load(
                    ajax_url, null, (response, status, xhr) => {
                        if (status != 'success') {
                            $(this).find('.modal-title').html('Error');
                            $(this).find('.modal-body').html(
                                `<p class="text-danger">${xhr.status} ${xhr.statusText}</p>`
                            );
                        }
                    }
                );
            });

            $('#modalPocoDetails').on('show.bs.modal', function(event) {
                draw_spinner($(this));

                const button = $(event.relatedTarget);
                const ajax_url = button.data('ajax_url');
                $("#modalPocoDetailsContent").load(
                    ajax_url, null, (response, status, xhr) => {
                        if (status != 'success') {
                            $(this).find('.modal-title').html('Error');
                            $(this).find('.modal-body').html(
                                `<p class="text-danger">${xhr.status} ${xhr.statusText}</p>`
                            );
                        }
                    }
                );
            });

            $('#modalStarbaseDetail').on('show.bs.modal', function(event) {
                draw_spinner($(this));

                const button = $(event.relatedTarget);
                const ajax_url = button.data('ajax_url');
                $("#modalStarbaseDetailContent").load(
                    ajax_url, null, (response, status, xhr) => {
                        if (status != 'success') {
                            $(this).find('.modal-title').html('Error');
                            $(this).find('.modal-body').html(
                                `<p class="text-danger">${xhr.status} ${xhr.statusText}</p>`
                            );
                        }
                    }
                );
            });

            /* pocos */
            let pocos_idx_start = 6;
            $('#tab_pocos').DataTable({
                ajax: {
                    url: "{% url 'structures:poco_list_data' %}",
                    dataSrc: 'data',
                    cache: false
                },
                columns: [
                    {
                        data: 'planet_plus_icon',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    {
                        data: 'solar_system_html',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    {
                        data: 'constellation_html',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    {
                        data: 'owner',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'has_access_html',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'tax' },

                    /* hidden columns */
                    { data: 'planet_type_name' },
                    { data: 'space_type' },
                    { data: 'region' },
                    { data: 'constellation' },
                    { data: 'solar_system' },
                    { data: 'corporation_name' },
                    { data: 'alliance_name' },
                    { data: 'has_access_str' },
                ],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                paging: dataTablesPaging,
                pageLength: dataTablesPageLength,
                columnDefs: [
                    { "visible": false, "targets": [6, 7, 8, 9, 10, 11, 12, 13 ] },
                ],
                order: [ [0, "asc"] ],
                filterDropDown:
                {
                    columns: [
                        {
                            idx: pocos_idx_start,
                            title: "{% translate 'Planet Type' %}"
                        },

                        {
                            idx: pocos_idx_start + 1,
                            title: "{% translate 'Space Type' %}"
                        },
                        {
                            idx: pocos_idx_start + 2,
                            title: "{% translate 'Region' %}"
                        },
                        {
                            idx: pocos_idx_start + 3,
                            title: "{% translate 'Constellation' %}"
                        },
                        {
                            idx: pocos_idx_start + 4,
                            title: "{% translate 'Solar System' %}"
                        },
                        {
                            idx: pocos_idx_start + 5,
                            title: "{% translate 'Corporation' %}",
                            maxWidth: "11em"
                        },
                        {
                            idx: pocos_idx_start + 6,
                            title: "{% translate 'Alliance' %}",
                            maxWidth: "11em"
                        },
                        {
                            idx: pocos_idx_start + 7,
                            title: "{% translate 'Access?' %}"
                        },
                    ],
                    autoSize: false,
                    bootstrap: true
                }
            });

            /* summary */
            $('#tab_summary').DataTable({
                ajax: {
                    url: "{% url 'structures:structure_summary_data' %}",
                    dataSrc: 'data',
                    cache: false
                },
                columns: [
                    {
                        data: 'owner',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'citadel_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'ec_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'refinery_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'other_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'poco_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'starbase_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'total',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    /* hidden */
                    { data: 'alliance_name' },
                ],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                paging: dataTablesPaging,
                pageLength: dataTablesPageLength,
                order: [ [ 0, "asc" ] ],
                columnDefs: [
                    { "visible": false, "targets": [8] }
                ],
                filterDropDown:
                {
                    columns: [
                        {
                            idx: 8,
                            title: "{% translate 'Alliance' %}",
                            maxWidth: "11em"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;
                    let summary_total_idx_start = 1;

                    dataTableFooterSumColumn(api, summary_total_idx_start);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 1);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 2);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 3);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 4);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 5);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 6);
                }
            });

            /* jump gates */
            let jump_gate_idx_start = 7;
            $('#tab_jump_gates').DataTable({
                ajax: {
                    url: "{% url 'structures:jump_gates_list_data' %}",
                    dataSrc: 'data',
                    cache: false
                },
                columns: [
                    {
                        data: 'owner',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'location',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'type',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    { data: 'structure_name_and_tags' },
                    {
                        data: 'fuel_and_power',
                        render: {
                            _: 'display',
                            sort: 'fuel_expires_at'
                        }
                    },
                    {
                        data: 'jump_fuel_quantity',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    { data: 'state_details' },
                    /* hidden */
                    { data: 'alliance_name' },
                    { data: 'corporation_name' },
                    { data: 'region_name' },
                    { data: 'solar_system_name' },
                    { data: 'is_reinforced_str' },
                    { data: 'power_mode_str' },
                    { data: 'state_str' },
                ],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                paging: dataTablesPaging,
                pageLength: dataTablesPageLength,
                order: [[1, "asc"]],
                columnDefs: [
                    { "visible": false, "targets": [ 7, 8, 9, 10, 11, 12, 13 ] },
                ],
                filterDropDown:
                {
                   columns: [
                        {
                            idx: jump_gate_idx_start,
                            title: "{% translate 'Alliance' %}",
                            maxWidth: "11em"
                        },
                        {
                            idx: jump_gate_idx_start + 1,
                            title: "{% translate 'Corporation' %}",
                            maxWidth: "11em"
                        },
                        {
                            idx: jump_gate_idx_start + 2,
                            title: "{% translate 'Region' %}",
                            maxWidth: "7em"
                        },
                        {
                            idx: jump_gate_idx_start + 3,
                            title: "{% translate 'Solar System' %}",
                            maxWidth: "14em"
                        },
                        {
                            idx: jump_gate_idx_start + 4,
                            title: "{% translate 'Reinforced?' %}",
                            maxWidth: "13em"
                        },
                        {
                            idx: jump_gate_idx_start + 5,
                            title: "{% translate 'Power Mode' %}",
                            maxWidth: "12em"
                        },
                        {
                            idx: jump_gate_idx_start + 6,
                            title: "{% translate 'State' %}",
                            maxWidth: "6em"
                        },

                    ],
                    autoSize: false,
                    bootstrap: true
                },
                createdRow: function (row, data, dataIndex) {
                    if (data['is_reinforced']) {
                        $(row).addClass('danger');
                    }
                },
            });

        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}

    <link rel="stylesheet" href="{% static 'structures/css/global.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'structures/css/main.css' %}" type="text/css" media="screen">
{% endblock %}

{% block extra_script %}

{% endblock %}
