{% extends 'structures/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block details %}

    <!-- Nav tabs -->
    <ul id="statistics-tabs" class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active">
            <a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">{% trans "Summary" %}</a>
        </li>

    </ul>

    <div class="panel panel-default panel-tabs">
        <div class="panel-body">
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="summary">
                    {% include "structures/partials/structure_summary.html" %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script
        type="application/javascript"
        src="{% static 'structures/vendor/datatables/plugins/filterDropDown.min.js' %}">
    </script>
    <script type="application/javascript" src="{% static 'structures/js/global.js' %}"></script>

    <script type="application/javascript">

        $(document).ready(function () {
            let dataTablesPageLength = {{ data_tables_page_length }};
            let dataTablesPaging = ("{{ data_tables_paging }}" == 'True');

            /* summary */
            $('#tab_summary').DataTable({
                ajax: {
                    url: "{% url 'structures:structure_summary_data' %}",
                    dataSrc: 'data',
                    cache: false
                },
                columns: [
                    {
                        data: 'owner',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'citadel_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'ec_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'refinery_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'other_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'poco_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'starbase_count',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    {
                        data: 'total',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    /* hidden */
                    { data: 'alliance_name' },
                ],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                paging: dataTablesPaging,
                pageLength: dataTablesPageLength,
                order: [ [ 0, "asc" ] ],
                columnDefs: [
                    { "visible": false, "targets": [8] }
                ],
                filterDropDown:
                {
                    columns: [
                        {
                            idx: 8,
                            title: "{% translate 'Alliance' %}",
                            maxWidth: "11em"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;
                    let summary_total_idx_start = 1;

                    dataTableFooterSumColumn(api, summary_total_idx_start);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 1);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 2);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 3);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 4);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 5);
                    dataTableFooterSumColumn(api, summary_total_idx_start + 6);
                }
            });

        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}

    <link rel="stylesheet" href="{% static 'structures/css/global.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'structures/css/main.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'structures/css/statistics.css' %}" type="text/css" media="screen">
{% endblock %}

{% block extra_script %}

{% endblock %}
