{% extends 'structures/base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load static %}
{% load humanize %}

{% block details %}

    <!-- Tags Filter Button -->
    <span class="pull-right">
        {% if tags_exist %}
            {% if active_tags %}
                <button type="button" class="btn btn-warning btn-tabs" data-toggle="modal" data-target="#modalTagsFilter">
                {% translate "Tags Filter (Active)" %}
                </button>
            {% else %}
                <button type="button" class="btn btn-default btn-tabs" data-toggle="modal" data-target="#modalTagsFilter">
                    {% translate "Tags Filter" %}
                </button>
            {% endif %}
        {% else %}
            <button type="button" class="btn btn-default btn-tabs" data-toggle="modal" data-target="#modalTagsFilter" disabled="disabled">
                {% translate "Tags Filter" %}
            </button>
        {% endif %}
    </span>

    <!-- Nav tabs -->
    <ul id="structure-tabs" class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active">
            <a href="#structures" aria-controls="structures" role="tab" data-toggle="tab">{% trans "All Structures" %}</a>
        </li>
        {% if show_jump_gates_tab %}
            <li role="presentation">
                <a href="#jump-gates" aria-controls="jump-gates" role="tab" data-toggle="tab">{% trans "Jump Gates" %}</a>
            </li>
        {% endif %}

    </ul>

    <div class="panel panel-default panel-tabs">
        <div class="panel-body">
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="structures">
                    {% include "structures/partials/structure_list.html" %}
                </div>

                {% if show_jump_gates_tab %}
                    <div role="tabpanel" class="tab-pane" id="jump-gates">
                        {% include "structures/partials/jump_gates_list.html" %}
                    </div>
                {% endif %}

                <p class="text-muted">
                    {% translate "All dates are EVE time" %}
                    • {% translate "Data can be outdated by up to 1 hour due to API caching." %}
                    • {% translate "Last updated" %} {{ last_updated|naturaltime|default:"?" }}
                </p>

            </div>

        </div>
    </div>

    <!-- Tags Filter Modal -->
    <div class="modal" id="modalTagsFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{% translate "Tags Filter" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ tags_filter_form|bootstrap }}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default pull-left" href="{% url 'structures:index' %}" role="button">
                            {% translate "Reset Filter" %}
                        </a>
                        <a class="btn btn-default pull-left" href="{% url 'structures:main' %}" role="button">
                            {% translate "Clear Filter" %}
                        </a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {% translate "Cancel" %}
                        </button>
                        <button type="submit" class="btn btn-primary">
                            {% translate "Apply Filter" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script
        type="application/javascript"
        src="{% static 'structures/vendor/datatables/plugins/filterDropDown.min.js' %}">
    </script>
    <script type="application/javascript" src="{% static 'structures/js/global.js' %}"></script>

    <script type="application/javascript">
        function draw_spinner(elem){
            let url = "";

            {% if NIGHT_MODE %}
                url = "{% static 'structures/img/bars-rotate-fade-white-36.svg' %}"
            {% else %}
                url = "{% static 'structures/img/bars-rotate-fade-black-36.svg' %}"
            {% endif %}

            elem.find('.modal-title').html('Loading...');
            elem.find('.modal-body').html('<img class="center-image" src="' + url + '">');
        }

        $(document).ready(function () {
            const COOKIE_LAST_TAB_ID = "structures_last_tab_id"
            const COOKIE_LAST_TAB_HOURS = 6

            let dataTablesPageLength = {{ data_tables_page_length }};
            let dataTablesPaging = ("{{ data_tables_paging }}" == 'True');

            /* show last selected tab or default */
            let tabId = "{{show_tab}}"
            if (tabId != "") {
                setCookie(COOKIE_LAST_TAB_ID, tabId, 1)
            }
            else {
                tabId = getCookie(COOKIE_LAST_TAB_ID)
                if (tabId == "") tabId = "structures"
            }
            $('a[href="#' + tabId + '"]').tab("show")

            /* remember last selected tab */
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                const selectedTabId = $(e.target).attr("href").substr(1)
                setCookie(COOKIE_LAST_TAB_ID, selectedTabId, COOKIE_LAST_TAB_HOURS)
            });

            /* structures */
            let structures_idx_start = 7;
            $('#tab_structures').DataTable({
                ajax: {
                    url: "{% url 'structures:structure_list_data' %}?tags={{ active_tags|join:',' }}",
                    dataSrc: 'data',
                    cache: false
                },
                columns: [
                    {
                        data: 'owner',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'location',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'type',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    { data: 'structure_name_and_tags' },
                    {
                        data: 'fuel_and_power',
                        render: {
                            _: 'display',
                            sort: 'fuel_expires_at'
                        }
                    },
                    { data: 'state_details' },
                    { data: 'details' },

                    /* hidden */
                    { data: 'alliance_name' },
                    { data: 'corporation_name' },
                    { data: 'region_name' },
                    { data: 'solar_system_name' },
                    { data: 'category_name' },
                    { data: 'group_name' },
                    { data: 'is_reinforced_str' },
                    { data: 'state_str' },
                    { data: 'power_mode_str' },
                    { data: 'core_status_str' }
                ],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                paging: dataTablesPaging,
                pageLength: dataTablesPageLength,
                columnDefs: [
                    { "sortable": false, "targets": [5, 6] },
                    { "visible": false, "targets": [7, 8, 9, 10, 11, 12, 13, 14, 15, 16] }
                ],
                order: [[1, "asc"], [3, "asc"]],
                filterDropDown:
                {
                    columns: [
                        {
                            idx: structures_idx_start,
                            title: "{% translate 'Alliance' %}",
                            maxWidth: "8em"
                        },
                        {
                            idx: structures_idx_start + 1,
                            title: "{% translate 'Corporation' %}",
                            maxWidth: "9em"
                        },
                        {
                            idx: structures_idx_start + 2,
                            title: "{% translate 'Region' %}",
                            maxWidth: "7em"
                        },
                        {
                            idx: structures_idx_start + 3,
                            title: "{% translate 'Solar System' %}",
                            maxWidth: "14em"
                        },
                        {
                            idx: structures_idx_start + 4,
                            title: "{% translate 'Category' %}",
                            maxWidth: "10em"
                        },
                        {
                            idx: structures_idx_start + 5,
                            title: "{% translate 'Group' %}",
                            maxWidth: "7em"
                        },
                        {
                            idx: structures_idx_start + 7,
                            title: "{% translate 'State' %}",
                            maxWidth: "6em"
                        },
                        {
                            idx: structures_idx_start + 8,
                            title: "{% translate 'Power Mode' %}",
                            maxWidth: "12em"
                        },
                        {
                            idx: structures_idx_start + 9,
                            title: "{% translate 'Core?' %}",
                            maxWidth: "6em"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                },
                createdRow: function (row, data, dataIndex) {
                    if (data['is_reinforced']) {
                        $(row).addClass('danger');
                    }
                }
            });

            $('#modalUpwellDetails').on('show.bs.modal', function(event) {
                draw_spinner($(this));

                const button = $(event.relatedTarget);
                const ajax_url = button.data('ajax_url');
                $("#modalUpwellDetailsContent").load(
                    ajax_url, null, (response, status, xhr) => {
                        if (status != 'success') {
                            $(this).find('.modal-title').html('Error');
                            $(this).find('.modal-body').html(
                                `<p class="text-danger">${xhr.status} ${xhr.statusText}</p>`
                            );
                        }
                    }
                );
            });

            $('#modalPocoDetails').on('show.bs.modal', function(event) {
                draw_spinner($(this));

                const button = $(event.relatedTarget);
                const ajax_url = button.data('ajax_url');
                $("#modalPocoDetailsContent").load(
                    ajax_url, null, (response, status, xhr) => {
                        if (status != 'success') {
                            $(this).find('.modal-title').html('Error');
                            $(this).find('.modal-body').html(
                                `<p class="text-danger">${xhr.status} ${xhr.statusText}</p>`
                            );
                        }
                    }
                );
            });

            $('#modalStarbaseDetail').on('show.bs.modal', function(event) {
                draw_spinner($(this));

                const button = $(event.relatedTarget);
                const ajax_url = button.data('ajax_url');
                $("#modalStarbaseDetailContent").load(
                    ajax_url, null, (response, status, xhr) => {
                        if (status != 'success') {
                            $(this).find('.modal-title').html('Error');
                            $(this).find('.modal-body').html(
                                `<p class="text-danger">${xhr.status} ${xhr.statusText}</p>`
                            );
                        }
                    }
                );
            });

            /* jump gates */
            let jump_gate_idx_start = 7;
            $('#tab_jump_gates').DataTable({
                ajax: {
                    url: "{% url 'structures:jump_gates_list_data' %}?tags={{ active_tags|join:',' }}",
                    dataSrc: 'data',
                    cache: false
                },
                columns: [
                    {
                        data: 'owner',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'location',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    {
                        data: 'type',
                        render: {
                            _: 'display',
                            sort: 'value'
                        }
                    },
                    { data: 'structure_name_and_tags' },
                    {
                        data: 'fuel_and_power',
                        render: {
                            _: 'display',
                            sort: 'fuel_expires_at'
                        }
                    },
                    {
                        data: 'jump_fuel_quantity',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    { data: 'state_details' },
                    /* hidden */
                    { data: 'alliance_name' },
                    { data: 'corporation_name' },
                    { data: 'region_name' },
                    { data: 'solar_system_name' },
                    { data: 'is_reinforced_str' },
                    { data: 'power_mode_str' },
                    { data: 'state_str' },
                ],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                paging: dataTablesPaging,
                pageLength: dataTablesPageLength,
                order: [[1, "asc"]],
                columnDefs: [
                    { "visible": false, "targets": [ 7, 8, 9, 10, 11, 12, 13 ] },
                ],
                filterDropDown:
                {
                   columns: [
                        {
                            idx: jump_gate_idx_start,
                            title: "{% translate 'Alliance' %}",
                            maxWidth: "8em"
                        },
                        {
                            idx: jump_gate_idx_start + 1,
                            title: "{% translate 'Corporation' %}",
                            maxWidth: "9em"
                        },
                        {
                            idx: jump_gate_idx_start + 2,
                            title: "{% translate 'Region' %}",
                            maxWidth: "7em"
                        },
                        {
                            idx: jump_gate_idx_start + 3,
                            title: "{% translate 'Solar System' %}",
                            maxWidth: "14em"
                        },
                        {
                            idx: jump_gate_idx_start + 4,
                            title: "{% translate 'Reinforced?' %}",
                            maxWidth: "13em"
                        },
                        {
                            idx: jump_gate_idx_start + 5,
                            title: "{% translate 'Power Mode' %}",
                            maxWidth: "12em"
                        },
                        {
                            idx: jump_gate_idx_start + 6,
                            title: "{% translate 'State' %}",
                            maxWidth: "6em"
                        },

                    ],
                    autoSize: false,
                    bootstrap: true
                },
                createdRow: function (row, data, dataIndex) {
                    if (data['is_reinforced']) {
                        $(row).addClass('danger');
                    }
                },
            });

        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}

    <link rel="stylesheet" href="{% static 'structures/css/global.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'structures/css/main.css' %}" type="text/css" media="screen">
{% endblock %}

{% block extra_script %}

{% endblock %}
