@media all {

    #tab_structures thead th {
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
    }

    #tab_structures tbody td {
        text-align: left;
        vertical-align: top;
    }

    #tab_structures tbody td:nth-child(1) {
        min-width: 13em;
    }

    #tab_structures tbody td:nth-child(2) {
        min-width: 10em;
    }

    #tab_structures tbody td:nth-child(3) {
        min-width: 14em;
    }

    .template-light-mode .list-group-item-custom {
        background-color: rgb(236, 240, 241) !important;
        color: rgb(0, 0, 0) !important;
    }

    .template-dark-mode .list-group-item-custom {
        background-color: rgb(70, 69, 69) !important;
        color: rgb(255, 255, 255) !important;
    }


    /* Jump Gates */
    #tab_jump_gates thead th {
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
    }

    #tab_jump_gates tbody td {
        text-align: left;
        vertical-align: top;
    }

    #tab_jump_gates tbody td:nth-child(1) {
        min-width: 13em;
    }

    #tab_jump_gates tbody td:nth-child(2) {
        min-width: 10em;
    }

    #tab_jump_gates tbody td:nth-child(3) {
        min-width: 14em;
    }

    #tab_jump_gates tbody td:nth-child(6) {
        text-align: right;
    }
}
